################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/sem3/operating systems/laba1/laba1/creator.cpp
/sem3/operating systems/laba1/laba1/creator.cpp
